
$border-color: #ddeef5;
$border-color-active: darken(#ddeef5, 10%);

$border: 1px solid $border-color;

.SearchControl {
  width: 100%;
  display: block;
  position: relative;

  &__Input {
    border: $border;
    box-shadow: none;
    border-radius: 3px;
    padding: 0.5rem 1rem 0.4rem 1rem;
    font-size: 1.2rem;
    display: block;
    width: inherit;

    &:hover, &:focus, &:active {
      outline: none;
      border-color: $border-color-active;
    }
  }

  &__Icon {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% {  transform: rotate(359deg); }
}

.SpinIcon {
  animation: spin 2s linear infinite;
  color: rgba(40, 44, 52, 0.78);
}


.SuggestBox {
  transform: translateY(1px);
  background-color: white;
  border: $border;
  width: 25rem;
  max-height: 20rem;
  overflow-y: scroll;
}

.UserItem {
  border-bottom: $border;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: white;
  transition: .1s;

  &:hover, &--Active {
    background-color: #ddeef5;
  }

  &__Content {
    padding: 0.4rem 0;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
  }
}
