.App {
  background-color: aliceblue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: white;
}

.App-content {
  margin: 0 auto;
  padding: 2rem 1rem;
  width: 65rem;
  flex-grow: 1;
  background-color: white;
  border-left: 1px solid #ddeef5;
  border-right: 1px solid #ddeef5;
}

.App-field {
  margin: 1rem 0 2rem 0;
}

* {
  box-sizing: border-box;
}
